.enews .screenread {
  height: 1px;
  left: -1000em;
  overflow: hidden;
  position: absolute;
  top: -1000em;
  width: 1px;
}

a,
.site-title:after,
.entry-header .entry-meta,
.sharrre,
.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
p.entry-meta a:hover,
p.entry-meta a:focus {
  /*color: ;*/
}

a {
  border-bottom: 1px solid ;
}

.genesis-nav-menu .sub-menu li a,
.more-link:hover, .tagcloud a,
input[type='submit'],
.archive-pagination li a:hover,
.archive-pagination li.active a ,
.entry-header:after,
.sharrre:hover,
.genesis-nav-menu .sub-menu,
.lSAction > a:hover {
  /*background: ;*/
}

.title-area,
.post-image {
  border-bottom: 2px solid ;
}

.simple-social-icons ul li a,
.simple-social-icons ul li a:hover {
  background-color:  !important;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.more-link,
.sharrre {
  /* border: 2px solid ; COMMENTED BY YOHAN */
}

.lSSlideOuter {
  border-bottom: 2px solid ;
}
