html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
audio, canvas, progress, video {display: inline-block;vertical-align: baseline;}
audio:not([controls]) {display: none;height: 0;}
[hidden], template {display: none;}
a {background: 0 0;}
a:active, a:hover {outline: 0;}
abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: 700;}
dfn {font-style: italic;}
h1 {font-size: 2em;margin: .67em 0;}
mark {background: #ff0;color: #424b54;}
small {font-size: 80%;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -.5em;}
sub {bottom: -.25em;}
img {border: 0;}
svg:not(:root) {overflow: hidden;}
figure {margin: 1em 40px;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
pre {overflow: auto;}
code, kbd, pre, samp {font-family: monospace,monospace;font-size: 1em;}
button, input, optgroup, select, textarea {color: inherit;font: inherit;margin: 0;}
button {overflow: visible;}
button, select {text-transform: none;}
button, html input[type=button], input[type=reset], input[type=submit] {-webkit-appearance: button;cursor: pointer;}
button[disabled], html input[disabled] {cursor: default;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}
input {line-height: normal;}
input[type=checkbox], input[type=radio] {box-sizing: border-box;padding: 0;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {height: auto;}
input[type=search] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {-webkit-appearance: none;}
fieldset {border: 1px solid silver;margin: 0 2px;padding: .35em .625em .75em;}
legend {border: 0;padding: 0;}
textarea {overflow: auto;}
optgroup {font-weight: 700;}
table {border-collapse: collapse;border-spacing: 0;}
td, th {padding: 0;}
html, input[type="search"] {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
.author-box:before, .clearfix:before, .entry:before, .entry-content:before, .nav-primary:before, .pagination:before, .site-container:before, .site-footer:before, .site-header:before, .site-inner:before, .wrap:before {content: " ";display: table;}
.author-box:after, .clearfix:after, .entry:after, .entry-content:after, .nav-primary:after, .pagination:after, .site-container:after, .site-footer:after, .site-header:after, .site-inner:after, .wrap:after {clear: both;content: " ";display: table;}
html {-webkit-font-smoothing: antialiased;font-size: 62.5%;}
body > div {font-size: 1.8rem;}
body {background: #f5f5f5;color: #424b54;font-family: "Crimson Text",serif;font-size: 18px;font-size: 1.8rem;font-weight: 400;line-height: 1.8;margin: 0;-webkit-font-smoothing: antialiased;}
a {color: #282d33;font-weight: bold;text-decoration: underline;}
a:visited:not(.more-link) {border-bottom: 1px solid #424b54;}
a:hover, a:focus {color: #424b54;text-decoration: none;border-bottom-color: transparent;}
p {margin: 0 0 28px;padding: 0;}
li {list-style-type: none;}
hr {border: 0;border-collapse: collapse;border-top: 1px solid #ddd;clear: both;margin: 1em 0;}
b, strong {font-weight: 700;}
blockquote, cite, em, i {font-style: italic;}
blockquote {margin: 40px;}
blockquote::before {content: "“";display: block;font-size: 30px;font-size: 3rem;height: 0;left: -20px;position: relative;top: -10px;}
h1, h2, h3, h4, h5, h6 {color: #282d33;font-family: "Lato",sans-serif;font-weight: 700;line-height: 1.2;margin: 0 0 10px;}
h1 {font-size: 36px;font-size: 3.6rem;}
h2 {font-size: 30px;font-size: 3rem;}
h3 {font-size: 24px;font-size: 2.4rem;}
h4 {font-size: 20px;font-size: 2rem;}
h5 {font-size: 18px;font-size: 1.8rem;}
h6 {font-size: 16px;font-size: 1.6rem;}
embed, iframe, img, object, video, .wp-caption {max-width: 100%;}
img {height: auto;}
.featured-content img, .gallery img {width: auto;}
.gallery {overflow: hidden;}
.gallery-item {float: left;margin: 0 0 28px;text-align: center;}
.gallery-columns-2 .gallery-item {width: 50%;}
.gallery-columns-3 .gallery-item {width: 33%;}
.gallery-columns-4 .gallery-item {width: 25%;}
.gallery-columns-5 .gallery-item {width: 20%;}
.gallery-columns-6 .gallery-item {width: 16.6666%;}
.gallery-columns-7 .gallery-item {width: 14.2857%;}
.gallery-columns-8 .gallery-item {width: 12.5%;}
.gallery-columns-9 .gallery-item {width: 11.1111%;}
.gallery img {border: 1px solid #ddd;height: auto;padding: 4px;}
.gallery img:hover, .gallery img:focus {border: 1px solid #999;}
input, select, textarea {background-color: #f5f5f5;border: 0;color: #424b54;font-size: 18px;font-size: 1.8rem;font-weight: 300;padding: 16px;width: 100%;}
input:focus, textarea:focus {border: 1px solid #999;outline: none;}
input[type="checkbox"], input[type="image"], input[type="radio"] {width: auto;}
::-moz-placeholder {color: #424b54;font-weight: 300;opacity: 1;}
::-webkit-input-placeholder {color: #424b54;font-weight: 300;}
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .more-link {transition: all .4s ease-in-out;background-color: transparent;color: #282d33;cursor: pointer;font-weight: 400;font-size: 18px;font-size: 1.8rem;margin-top: 30px;width: auto;padding: 0 22px;line-height: 38px;display: inline-block;border-radius: 30px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border: 2px solid #d33e43;text-decoration: none;}
button:hover, input:hover[type="button"], input:hover[type="reset"], input:hover[type="submit"], .button:hover, .more-link:hover, button:focus, input:focus[type="button"], input:focus[type="reset"], input:focus[type="submit"], .button:focus, .more-link:focus {background: #d33e43;color: #fff;}
.entry-content .button:hover, .entry-content .button:focus {color: #fff;}
.button {display: inline-block;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button {display: none;}
table {border-collapse: collapse;border-spacing: 0;line-height: 2;margin-bottom: 40px;width: 100%;}
tbody {border-bottom: 1px solid #ddd;}
td, th {text-align: left;}
td {border-top: 1px solid #ddd;padding: 6px 0;}
th {font-weight: 400;}
.screen-reader-text, .screen-reader-text span, .screen-reader-shortcut {background: #fff;position: absolute !important;clip: rect(0,0,0,0);color: #000;height: 1px;width: 1px;border: 0;overflow: hidden;}
.footer-widgets .screen-reader-text {color: #fff;}
.screen-reader-text:focus, .screen-reader-shortcut:focus, .genesis-nav-menu .search input[type="submit"]:focus, .widget_search input[type="submit"]:focus {clip: auto !important;height: auto;width: auto;display: block;font-size: 1em;font-weight: bold;padding: 15px 23px 14px;color: #333;background: #fff;z-index: 100000;text-decoration: none;box-shadow: 0 0 2px 2px rgba(0,0,0,.6);}
.more-link {position: relative;}
.site-container {margin: 0 auto;}
.site-inner, .wrap {margin: 0 auto;width: 100%;}
.site-inner {clear: both;margin-top: 3%;width: 100%;position: relative;z-index: 1;padding: 0 0 6% 300px;}
.simple-landing .site-inner {padding: 0 0 6% 0;}
.nav-visible .site-inner {z-index: 5;}
.content {width: 100%;}
.five-sixths, .four-sixths, .one-fourth, .one-half, .one-sixth, .one-third, .three-fourths, .three-sixths, .two-fourths, .two-sixths, .two-thirds {float: left;margin-left: 2.5641025641026%;}
.one-half, .three-sixths, .two-fourths {width: 48.717948717949%;}
.one-third, .two-sixths {width: 31.623931623932%;}
.four-sixths, .two-thirds {width: 65.811965811966%;}
.one-fourth {width: 23.076923076923%;}
.three-fourths {width: 74.358974358974%;}
.one-sixth {width: 14.529914529915%;}
.five-sixths {width: 82.905982905983%;}
.first {clear: both;margin-left: 0;}
.avatar {float: left;}
.alignleft .avatar, .author-box .avatar {margin-right: 24px;}
.alignright .avatar {margin-left: 24px;}
.comment .avatar {border-radius: 50%;margin: 0 16px 0 0;}
.breadcrumb {margin-bottom: 20px;}
.archive-description, .author-box {background-color: #fff;font-size: 16px;font-size: 1.6rem;margin-bottom: 40px;padding: 40px;}
.author-box-title {font-size: 16px;font-size: 1.6rem;margin-bottom: 4px;}
.archive-description p:last-child, .author-box p:last-child {margin-bottom: 0;}
.search-form {overflow: hidden;}
.site-header .search-form {float: right;margin-top: 12px;}
.entry-content .search-form, .site-header .search-form {width: 50%;}
.genesis-nav-menu .search input[type="submit"], .widget_search input[type="submit"] {border: 0;clip: rect(0,0,0,0);height: 1px;margin: -1px;position: absolute;width: 1px;}
.archive-title {font-size: 20px;font-size: 2rem;}
.entry-title {background: #fff;border: none;display: inline;font-size: 36px;font-size: 3.6rem;}
.entry-title a, .sidebar .widget-title a {color: #282d33;}
.entry-title a:hover, .entry-title a:focus {color: #d33e43;}
.widget-title {font-size: 18px;font-size: 1.8rem;margin-bottom: 20px;}
a.aligncenter img {display: block;margin: 0 auto;}
a.alignnone {display: inline-block;}
.alignleft {float: left;text-align: left;}
.alignright {float: right;text-align: right;}
a.alignleft, a.alignnone, a.alignright {max-width: 100%;}
img.centered, .aligncenter {display: block;margin: 0 auto 24px;}
img.alignnone, .alignnone {margin-bottom: 12px;}
a.alignleft, img.alignleft, .wp-caption.alignleft {margin: 0 24px 24px 0;}
a.alignright, img.alignright, .wp-caption.alignright {margin: 0 0 24px 24px;}
.wp-caption-text {font-size: 14px;font-size: 1.4rem;font-weight: 700;text-align: center;}
.entry-content p.wp-caption-text {margin-bottom: 0;}
.sticky {}
.entry-content .wp-audio-shortcode, .entry-content .wp-playlist, .entry-content .wp-video {margin: 0 0 28px;}
.widget {word-wrap: break-word;}
.widget ol > li {list-style-position: inside;list-style-type: decimal;padding-left: 20px;text-indent: -20px;}
.widget li li {border: 0;margin: 0 0 0 30px;padding: 0;}
.widget_calendar table {width: 100%;}
.widget_calendar td, .widget_calendar th {text-align: center;}
.featured-content .entry {border-bottom: 2px solid #f5f5f5;margin-bottom: 20px;padding: 0 0 24px;}
.featured-content .entry-title {font-size: 20px;font-size: 2rem;}
.enews-widget, .enews-widget .widget-title {color: #fff;}
.sidebar .widget.enews-widget {background-color: #424b54;}
.enews-widget input, .enews-widget input:focus {border: 1px solid #424b54;}
.enews-widget input {font-size: 16px;font-size: 1.6rem;margin-bottom: 16px;}
.enews-widget input[type="submit"] {background-color: #d33e43;color: #fff;margin: 0;width: 100%;}
.enews-widget input:hover[type="submit"], .enews-widget input:focus[type="submit"] {background-color: #fff;color: #424b54;}
.enews form + p {margin-top: 24px;}
#wpstats {display: none;}
.lSSlideOuter {border-bottom: 2px solid #d33e43;position: relative;}
.lSSlideWrapper {margin-bottom: -14px;}
.lSSlideOuter .lSPager.lSpg {display: none;}
.lSAction > a {background-image: none !important;background: #444;height: 50px !important;width: 50px !important;position: relative;}
.lSAction > a:hover {background: #d33e43;}
.lSAction > .lSPrev:before, .lSAction > .lSNext:after {color: #fff;font: normal normal normal 28px "dashicons";position: absolute;top: 10px;}
.lSAction > .lSPrev:before {content: "";left: 10px;}
.lSAction > .lSNext:after {content: "";right: 10px;}
.lSAction > .lSPrev {left: 0 !important;}
.lSAction > .lSNext {right: 0 !important;}
:focus {color: #000;outline: #ccc solid 1px;}
.sub-menu-toggle, .menu-toggle {display: none;visibility: hidden;}
@media only screen and (max-width: 860px) {.nav-primary {display: none;position: relative;}
	nav .wrap {padding: 0;}
	nav.pagination {display: block;}
	.nav-primary {margin-top: 0;z-index: 9999;}
	.menu-toggle, .sub-menu-toggle {color: #333;display: block;visibility: visible;overflow: hidden;font-size: 20px;font-weight: 700;text-align: center;background-color: transparent;}
	.sub-menu-toggle:hover, button:focus {background-color: transparent;color: #333;}
	.menu-toggle {border: 0;border-radius: 0;position: relative;padding: 0;right: 0;z-index: 1000;color: #333;width: 100%;}
	button.menu-toggle:hover {background-color: #fff;color: #333;}
	.menu-toggle:before, .menu-toggle.activated:before {display: inline-block;font: normal normal normal 28px "dashicons";vertical-align: -25%;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-transform: translate(0,0);-ms-transform: translate(0,0);transform: translate(0,0);content: "";padding-right: 12px;}
	button.activated:before {content: "" !important;}
	.sub-menu-toggle {background: transparent;border: 0;float: right;margin: 0;padding: 0;position: absolute;top: 0;right: 0;z-index: 100;}
	.sub-menu-toggle:before {display: inline-block;font-family: dashicons;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-transform: translate(0,0);-ms-transform: translate(0,0);transform: translate(0,0);content: "";margin: 0;padding: 0;}
	.sub-menu-toggle.activated:before {content: "";}
	.nav-primary .genesis-nav-menu .menu-item {background: #fff;border-top: none;display: block;margin-top: 0;padding: 0;position: relative;text-align: left;width: 100%;}
	.genesis-nav-menu .menu-item {background-color: #f8f8f8;}
	a {/*background: #fff;border-top: 1px solid rgba(0,0,0,.1);border-bottom: 1px solid rgba(255,255,255,.1);padding: 20px;*/}}
.nav-primary .genesis-nav-menu .menu-item:hover {border-top: none;padding-top: 0;position: relative;}
.genesis-nav-menu .menu-item > a:focus ul.sub-menu, .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {left: 0;margin-left: 0;}
.genesis-nav-menu > .menu-item-has-children > a:after {content: none;}
.genesis-nav-menu .sub-menu {display: none;clear: both;margin: 0;position: static;width: 100%;opacity: 1;}
.genesis-nav-menu .sub-menu .sub-menu {margin: 0;}
.genesis-nav-menu .sub-menu a {border-left: none;border-right: none;padding-left: 40px;color: #eee;}
.nav-primary .genesis-nav-menu .sub-menu a {color: #424b54;width: 100%;}
.site-header {background-color: #fff;color: #000;float: left;height: 100%;padding: 6% 40px;position: fixed;text-align: center;width: 300px;z-index: 9999;}
.site-header a, .site-header a:hover {color: #000;text-decoration: none;}
.site-header a {border-bottom: 0;}
.site-header > .wrap {margin: 0 auto;max-width: 860px;position: relative;width: 100%;transition: all .4s ease-in-out;}
.header-slim .site-header > .wrap {padding-top: 0;padding-bottom: 0;}
.title-area {border-bottom: 1px dashed #d33e43 !important;float: left;padding: 0 0 20px 0;position: relative;width: 100%;z-index: 1;}
.nav-visible .title-area {transform: translateY(30%) rotateX(-90deg);opacity: 0;}
.site-title {font-family: "Podkova",serif;font-size: 36px;font-size: 3.6rem;font-weight: 700;line-height: 1.2;text-align: right;}
.site-title:after {color: #d33e43;content: ".";}
.site-title a, .site-title a:hover, .site-title a:focus {color: #282d33;}
.header-image .site-title > a {background: url("images/logo.png") no-repeat left;float: left;min-height: 60px;width: 100%;}
.site-description, .site-title {margin-bottom: 0;}
.header-image .site-description, .header-image .site-title {display: block;text-indent: 99999px;}
.site-header .widget-area {float: right;overflow: hidden;text-align: right;width: 800px;}
.site-header .simple-social-icons ul {margin: 20px -6px 0 0;}
.site-header .header-widget-one, .site-header .header-widget-two {color: #424b54;float: left;font-family: "Lato",sans-serif;font-size: 14px;font-size: 1.4rem;text-align: justify;width: 100%;}
.site-header .header-widget-one .widget-title, .site-header .header-widget-two .widget-title {text-align: right;}
.nav-primary {font-family: "Lato",sans-serif;}
.nav-visible .nav-primary {opacity: 1;transform: translateY(0) rotateX(0);}
.genesis-nav-menu {clear: both;float: left;font-size: 16px;font-size: 1.6rem;text-align: left;margin-top: 15px;padding: 0;width: 100%;}
.genesis-nav-menu .menu-item {display: inline-block;float: left;text-align: right;width: 100%;}
.genesis-nav-menu > .menu-item:first-child > a {margin-left: 0;}
.genesis-nav-menu a {color: #282d33;font-weight: 700;display: block;padding: 6px 0;}
.header-slim .genesis-nav-menu a {margin-bottom: 30px;}
.genesis-nav-menu a:hover, .genesis-nav-menu a:focus, .genesis-nav-menu .current-menu-item > a {text-decoration: none;color: #d33e43;}
.genesis-nav-menu .sub-menu a:hover, .genesis-nav-menu .sub-menu a:focus, .genesis-nav-menu .sub-menu .current-menu-item > a:hover, .genesis-nav-menu .sub-menu .current-menu-item > a:focus {color: #000;}
.genesis-nav-menu .menu-item.menu-item-has-children > a:after {content: "";width: 20%;height: 30px;position: absolute;left: 100%;}
.genesis-nav-menu .sub-menu {background: #d33e43;left: -9999px;margin: -40px 0 0 40px;opacity: 0;padding: 0;position: absolute;width: 250px;z-index: 99;}
.genesis-nav-menu .sub-menu a {color: #fff;margin: 0;padding: 6px 12px;position: relative;width: 250px;word-wrap: break-word;}
.genesis-nav-menu .sub-menu .menu-item {text-align: left;}
.genesis-nav-menu .sub-menu .sub-menu {margin: -55px 0 0 247px;}
.genesis-nav-menu .menu-item:hover {position: static;}
.genesis-nav-menu .menu-item:hover > .sub-menu {left: 100%;opacity: 1;}
.genesis-nav-menu > .first > a {padding-left: 0;}
.genesis-nav-menu > .last > a {padding-right: 0;}
.genesis-nav-menu > .right {color: #fff;float: right;list-style-type: none;padding: 30px 0;}
.genesis-nav-menu > .right > a {display: inline;padding: 0;}
.genesis-nav-menu > .rss > a {margin-left: 48px;}
.genesis-nav-menu > .search {padding: 10px 0 0;}
.site-header .sub-menu .sub-menu {margin-top: -64px;}
.site-header .genesis-nav-menu li li {margin-left: 0;}
.genesis-skip-link {margin: 0;}
.genesis-skip-link li {height: 0;width: 0;list-style: none;}
.menu .menu-item:focus {position: static;}
.menu .menu-item > a:focus + ul.sub-menu, .menu .menu-item.sfHover > ul.sub-menu {left: 100%;opacity: 1;}
.content-sidebar-wrap {width: 800px;max-width: 84%;margin: 0 auto;}
img.featured-image {display: block;}
.post-image {border-bottom: 2px solid #d33e43;margin-bottom: -10px;}
.entry {background-color: #fff;border-bottom: 1px solid #eee;margin-bottom: 10%;position: relative;}
.entry-content, .entry-footer, .entry-comments, #respond, .entry-pings {background: #fff;}
.entry-content ol > li {list-style-type: decimal;}
.entry-content ul > li {list-style-type: disc;}
.entry-content ol ol, .entry-content ul ul {margin-bottom: 0;}
.entry-content code {background-color: #424b54;color: #ddd;}
.entry-content p.lead {color: #000;font-size: 20px;font-size: 2rem;text-align: justify;}
.entry .dashicons {color: #fff;position: absolute;right: 20px;top: -40px;}
p.entry-meta {font-size: 12px;font-size: 1.2rem;font-weight: 700;letter-spacing: 2px;text-transform: uppercase;margin: 10px 0;}
p.entry-meta a:hover, p.entry-meta a:focus {color: #d33e43;}
.entry-author-link, .entry-comments-link a {border-bottom: none;}
p.entry-meta, .entry-title, .entry-content {position: relative;z-index: 1;}
.entry-header {overflow: auto;padding: 5% 10% 2.5% 10%;}
.entry-header a {text-decoration: none;}
.entry-header:after {background: #d33e43;clear: both;content: "";display: block;height: 3px;margin: 50px 0 0;opacity: .1;width: 60px;}
.entry-header .entry-meta {color: #d33e43;}
.entry-content {padding: 2.5% 10% 5% 10%;}
.entry-footer {padding: 2.5% 10% 5% 10%;}
.entry-footer .entry-meta {letter-spacing: 0;text-transform: none;}
.entry-categories, .entry-tags {display: block;float: left;}
.entry-categories, .entry-time, .entry-author {float: left;}
.pagination {clear: both;font-family: "Lato",sans-serif;margin: 40px 0;}
.pagination ul {padding: 0;}
.adjacent-entry-pagination {margin-bottom: 0;}
.archive-pagination li {display: inline;}
.archive-pagination li a {background-color: #424b54;color: #fff;cursor: pointer;display: inline-block;font-size: 12px;font-size: 1.2rem;padding: 8px 12px;text-decoration: none;}
.archive-pagination li a:hover, .archive-pagination li a:focus, .archive-pagination .active a {background-color: #d33e43;text-decoration: none;}
.comment-respond, .entry-comments, .entry-pings {background-color: #fff;margin-bottom: 40px;padding: 5% 10%;}
.comment-header {font-size: 16px;font-size: 1.6rem;}
li.comment a {border-bottom: none;}
.comment-content {clear: both;word-wrap: break-word;}
.comment-list li {margin-top: 24px;}
.comment-list li li {margin-left: 32px;}
.comment-respond input[type="email"], .comment-respond input[type="text"], .comment-respond input[type="url"] {width: 50%;}
.comment-respond label {display: block;margin-right: 12px;}
.entry-comments .comment-author {margin-bottom: 0;}
.entry-pings .reply {display: none;}
.bypostauthor {}
.form-allowed-tags {background-color: #f5f5f5;font-size: 16px;font-size: 1.6rem;padding: 24px;}
.site-footer {font-size: 16px;font-size: 1.6rem;line-height: 1;padding: 0 0 6% 0px;text-align: center;}
.simple-landing .site-footer {padding: 0 0 6% 0;}
.site-footer .wrap {width: 800px;max-width: 84%;margin: 0 auto;padding: 2.5% 10% 5% 10%;}
.site-footer a {text-decoration: none; border-bottom: none;}
.site-footer p {margin-bottom: 0;}
.site-footer .dashicons {font-size: 16px;}
@media only screen and (max-width: 860px) {.site-inner, .wrap {padding-left: 3%;padding-right: 3%;}
	.site-header {width: 100%;padding: 30px 0;position: relative;top: auto;right: auto;bottom: auto;}
	.site-header .widget-area {display: none;}
	.title-area {border-bottom: 0;padding: 0;width: 59%;}
	.site-title {font-size: 30px;font-size: 3rem;text-align: left;}
	.site-header > .wrap {padding: 0 3%;}
	.site-inner {padding: 0 0 10% 0;}
	.content-sidebar-wrap {max-width: 100%;}
	.site-footer {padding: 6% 0;}
	.five-sixths, .four-sixths, .one-fourth, .one-half, .one-sixth, .one-third, .three-fourths, .three-sixths, .two-fourths, .two-sixths, .two-thirds {margin: 0;width: 100%;}
	.blog .entry {margin-bottom: 10%;}
	.nav-primary {float: right;width: auto;}
	body.nav-visible {overflow: hidden;}
	.nav-visible .nav-primary {background: #fff;}
	.genesis-nav-menu a {text-align: left;}
	.genesis-nav-menu .menu-item, .genesis-nav-menu .menu-item:hover {display: block;position: relative;}
	.genesis-nav-menu .sub-menu, .genesis-nav-menu .sub-menu .sub-menu {position: static;left: auto;width: 100%;margin: 0;}
	.genesis-nav-menu .sub-menu a {background: transparent;border: 0;width: 100%;}
	.genesis-nav-menu .menu-item a {padding: 0;margin: 10px 0;}
	.genesis-nav-menu .menu-item .sub-menu a {margin-left: 5%;width: 95%;}
	.nav-visible .title-area {transform: none;opacity: 1;}
	#genesis-nav-primary {width: 100%;float: left;}
	.genesis-nav-menu .menu-item.menu-item-has-children > a:after {display: none;}
	.site-header .header-widget-two .widget-title {text-align: left;}
	.site-header .header-widget-two {padding: 5% 10% 2.5% 10%;}
	.site-header .header-widget-one {display: none;}
	.archive-pagination {padding: 0 10%;}}
@media print {*, *:before, *:after {background: transparent !important;box-shadow: none !important;color: #000 !important;text-shadow: none !important;}
	a, a:visited {text-decoration: underline;}
	a[href]:after {content: " (" attr(href) ")";}
	abbr[title]:after {content: " (" attr(title) ")";}
	a[href^="javascript:"]:after, a[href^="#"]:after, .site-title > a:after {content: "";}
	thead {display: table-header-group;}
	img, tr {page-break-inside: avoid;}
	img {max-width: 100% !important;}
	@page {margin: 2cm .5cm;}
	p, h2, h3 {orphans: 3;widows: 3;}
	blockquote, pre {border: 1px solid #999;page-break-inside: avoid;}
	.content, .content-sidebar {width: 100%;}
	button, input, select, textarea, .breadcrumb, .comment-edit-link, .comment-form, .comment-list .reply a, .comment-reply-title, .edit-link, .entry-comments-link, .entry-footer, .genesis-box, .header-widget-area, .hidden-print, .home-top, .nav-primary, .post-edit-link, .sidebar {display: none !important;}
	.title-area {text-align: center;width: 100%;}
	.site-title > a {margin: 0;text-decoration: none;text-indent: 0;}
	.site-inner {padding-top: 0;position: relative;top: -100px;}
	.author-box {margin-bottom: 0;}
	h1, h2, h3, h4, h5, h6 {orphans: 3;page-break-after: avoid;page-break-inside: avoid;widows: 3;}
	img {page-break-after: avoid;page-break-inside: avoid;}
	blockquote, pre, table {page-break-inside: avoid;}
	dl, ol, ul {page-break-before: avoid;}}
a {font-weight: normal;text-decoration: none;border-bottom: none;}
.site-inner {padding-bottom: 0;margin-top: 1%;}
.content-sidebar-wrap {max-width: 90%;margin-top: 2%;width: 900px;}
.entry {box-shadow: 10px 10px 10px #888;margin-bottom: 6%;}
.post-image {box-shadow: 10px 15px 10px #888;}
.site-header {padding: 5.5% 40px;}
.site-footer .wrap {padding-top: 0;}
.site-footer {padding-left: 0px;padding-top: 3%;}
a:visited:not(.more-link), .more-link {border-bottom: 1px solid #424b54;}
.entry-header a {border-bottom: none !important;}
.entry-header:after {margin-top: 0;display: none;}
.entry-header {padding-bottom: 0;padding-left: 7.5%;padding-right: 7.5%;}
.entry-content {padding-top: 2%;padding-bottom: 3%;padding-left: 7.5%;padding-right: 7.5%;}
p {margin-top: 5px;padding-top: 5px;padding-bottom: 5px;margin-bottom: 5px;-webkit-margin-before: 0;}
.entry-content .wp-audio-shortcode {margin-bottom: 10px;}
@media only screen and (min-width: 860px) {.site-header {width: 250px;}
	.site-inner {padding-left: 250px;}
	.footer-widgets-1 .search-form {margin-top: 4px;}}
@media only screen and (min-width: 860px) and (max-width: 960px) {.footer-widgets-1, .footer-widgets-2 {width: 100% !important;}
	.footer-widgets-1 {margin-top: 10px;margin-bottom: 0 !important;padding-bottom: 0 !important;}
	.footer-widgets-2 {border-top: 1px solid #eee;margin-top: 0 !important;padding-top: 20px !important;}}
@media only screen and (max-width: 860px) {.site-footer {padding-left: 0;padding-top: 4%;}
	.header-widget-two {display: none;}
	.title-area {border-bottom: none !important;}
	.content-sidebar-wrap {margin-top: 3%;}
	.footer-widget-1 p {border-bottom: 0;padding-bottom: 0;}
	.footer-widgets-1 {margin-top: 3px !important;}}
@media only screen and (max-width: 760px) {.footer-widgets-1, .footer-widgets-2 {width: 100% !important;}
	.footer-widgets-1 {margin-top: 10px;margin-bottom: 0 !important;padding-bottom: 0 !important;}
	.footer-widgets-2 {border-top: 1px solid #eee;margin-top: 0 !important;padding-top: 20px !important;}
	.footer-widgets-2 .simple-social-icons, .footer-widgets-2 .widget_polylang {display: block !important;}
	.footer-widgets-2 .simple-social-icons {padding-top: 20px;}
	.footer-widgets-2 .widget_polylang {text-align: center;border-top: none;border-bottom: none;margin: 0 0 10px 0;}
	.site-footer {padding-top: 5%;}}
.site-header .search-form {margin-top: 10px;width: 80%;text-align: right;}
input, select, textarea {text-align: center;font-size: 1.4rem;}
.entry-footer {padding-bottom: 0;}
.footer-widgets {clear: both;line-height: 1.5;overflow: hidden;background-color: white;max-width: 90%;width: 900px;margin: 0 auto;box-shadow: 10px 10px 10px #888;position: relative;z-index: 1;padding: 0 5% 0 5%;border: 1px solid black;}
.footer-widgets p {margin-bottom: 16px;margin-bottom: 1rem;}
.footer-widgets .widget {margin-bottom: 24px;margin-bottom: 1.5rem;}
.footer-widgets .widget-area ul li {list-style-type: none;margin-bottom: 6px;margin-bottom: .375rem;word-wrap: break-word;}
.footer-widgets-1, .footer-widgets-2 {padding: 4% 2% 2.5% 2%;float: left;}
.footer-widgets-1 a, .footer-widgets-2 a {color: #282d33;font-weight: normal;text-decoration: none;border-bottom: none;}
.footer-widgets-1 {text-align: justify;width: 55%;}
.footer-widgets-1 img {width: 100%;content: url("https://ybelmin.github.io/wp-content/uploads/2016/01/IMG_3386-1-2-e1452445566155.jpg");padding-bottom: 5px;}
.footer-widgets-1 a {font-weight: bold;}
.footer-widgets-2 {text-align: left;width: 100%;}
.widget-wrap ul {padding-left: 0;}
.enews-widget, .enews-widget .widget-title {color: black;text-align: center;}
.footer-widgets-2 .simple-social-icons, .footer-widgets-2 .widget_polylang {display: none;}
p.entry-meta {font-weight: normal;}
h1 {margin-top: 15px;margin-bottom: 20px;}
.title-area h1 {margin-top: 2px;}
.title-area p {padding-top: 2px;}
.entry-content ul {padding: 5px 0px 10px 20px;margin: 0 0 0 0;}
.widget_polylang {text-align: right;border-top: 1px dashed black;border-bottom: 1px dashed black;margin: 0 0 10px 0;}
.genesis-nav-menu {margin-top: 15px;margin-bottom: 0px;}
.site-header .simple-social-icons ul {margin: 17px -6px 7px 0;}
