---
layout: default
---

  {%- if page.title -%}
    <h1 class="">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

    <ul style="padding-inline-start: 0px;">
      {%- for post in site.posts -%}
        <li>
          {%- if post.image -%}
          <div style="width:100%; height: 200px; background-image: url({{ post.image | escape }}); background-size: cover; background-repeat:no-repeat; background-position:center;">
            <!-- <img width="900" height="200" src= {{ post.image | escape }} class="post-image" alt=""> -->
          </div>
          {%- endif -%}
          <article class="post-720 post type-post status-publish format-standard has-post-thumbnail category-news entry" itemscope itemtype="https://schema.org/CreativeWork">
            <header class="entry-header">
              <h3>
                <a class="entry-title" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>

              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

              <span class="entry-meta">{{ post.date | date: date_format }}</span>

              <br>
              {{ post.excerpt }}

              <!--{%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}-->

            </header>
            <footer class="entry-footer"></footer>
          </article>
        </li>

      {%- endfor -%}
    </ul>


    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}


